@media all {
    .badges {
	display: flex;
	flex-wrap: wrap;
    }
    .badge {
	border-radius: 30px;
	border-style: solid;
    }
    .badge-svg {
	vertical-align: middle;
    }
    .bagde-p-svg {
	color: black;
	display: inline;
	font-family: bpdots, monospace;
	font-weight: bold;
	vertical-align: middle;
    }
    .bagde-p-no-svg {
	color: black;
	display: inline;
	font-family: bpdots, monospace;
	font-weight: bold;
	vertical-align: middle;
    }
    .badge-link {
	color: transparent;
    }
}

@media screen {
    .badge {
	background: #8FAF9F;
	border-color: #8FAF9F;
    }
}

/* Regular screen */
@media screen and (min-width: 550px) {
    .badges {
	margin-bottom: 3.5rem;
	margin-top: 3.5rem;
    }
    .badge {
	border-width: 2px;
	margin: 1rem 1rem 1rem 1rem;
	padding: 1rem 1rem 1rem 1rem;
    }
    .badge-svg {
	height: 3.5rem;
	padding-bottom: 0.5rem;
	padding-left: 1rem;
	padding-right: 1rem;
    }
    .bagde-p-svg {
	margin-bottom: 0;
	margin-top: 0;
	padding-bottom: 1rem;
	padding-right: 1rem;
    }
    .bagde-p-no-svg {
	margin-bottom: 0;
	margin-top: 0;
	padding-bottom: 1rem;
	padding-left: 1rem;
	padding-right: 1rem;
    }
}

/* Small screen */
@media screen and (max-width: 549px) {
    .badges {
	margin-bottom: 2rem;
	margin-top: 2rem;
    }
    .badge {
	border-width: 2px;
	margin: 1rem 1rem 1rem 1rem;
	padding: 1rem 1rem 1rem 1rem;
    }
    .badge-svg {
	height: 3rem;
	padding-left: 1rem;
	padding-right: 1rem;
    }
    .bagde-p-svg {
	margin-bottom: 0;
	margin-top: 0;
	padding-right: 1rem;
    }
    .bagde-p-no-svg {
	margin-bottom: 0;
	margin-top: 0;
	padding-left: 1rem;
	padding-right: 1rem;
    }
}

@media print {
    .badges {
	margin-bottom: 5pt;
	margin-top: 5pt;
    }
    .badge {
	background: white;
	border-color: black;
	border-width: 1pt;
	margin: 5pt 2pt 5pt 2pt;
	padding: 5pt 5pt 5pt 5pt;
    }
    .badge-svg {
	height: 10pt;
	/* padding-bottom: 3pt */;
	padding-left: 5pt;
	padding-right: 5pt;
    }
    .bagde-p-svg {
	margin-bottom: 0;
	margin-top: 0;
	padding-bottom: 4pt;
	padding-right: 5pt;
    }
    .bagde-p-no-svg {
	margin-bottom: 0;
	margin-top: 0;
	padding-bottom: 4pt;
	padding-left: 5pt;
	padding-right: 5pt;
    }
}
