/* Regular screen size */
@media screen and (min-width: 550px) {

    ul {
	list-style-image: url("../images/bullet1.svg");
    }

    ul > ul {
	list-style-image: url("../images/bullet2.svg");
    }

}

/* Small screen size */
@media screen and (max-width: 549px) {

    ul {
	list-style-image: url("../images/bullet-small-1.svg");
	padding-left: 2rem;
    }

    ul > ul {
	list-style-image: url("../images/bullet-small-2.svg");
    }

}

@media print {

    ul {
	list-style-image: url("../images/bullet-black1.svg");
	padding-left: 13pt;
    }

    ul > ul {
	list-style-image: url("../images/bullet-black2.svg");
    }

}
