@media all {
    p, ul {
	font-family: go, sans-serif;
    }
}

@media screen {
    html {
	font-size: 10px;
    }
    body {
	background: #3f3f3f;
	margin: 2rem 2rem 2rem 2rem;
    }
    p, ul {
	color: #DCDCCC;
    }
}

/* Regular screen */
@media screen and (min-width: 550px) {
    p, ul {
	font-size: 3.5rem;
    }
}

/* Small screen */
@media screen and (max-width: 549px) {
    p, ul {
	font-size: 2rem;
    }
}

@media print {
    body {
	background: white;
	margin: 0;
	padding: 0;
    }
    p, ul {
	color: black;
	font-size: 12pt;
    }
    li {
	margin-bottom: 0.9pt;
    }
}
