@media all {
    .akashi {
	font-family: akashi, sans-serif;
    }
    .go {
	font-family: go, sans-serif;
    }
    .bpdots {
	font-family: bpdots, monospace;
	font-weight: bold;
    }
    .oxygen-mono {
	font-family: oxygen-mono, monospace;
    }
    .orbitron {
	font-family: orbitron, sans-serif;
    }
}
