@media all {
    .footer-item {
	text-align: center;
    }
    .footer-item-link {
	text-align: center;
	text-decoration: none;
    }
    .footer-link {
	color: transparent;
    }
}

@media screen {
    .footer-item {
	color: #DCDCCC;
    }
    .footer-item-link {
	color: #DCDCCC;
    }
}

/* Regular screen */
@media screen and (min-width: 550px) {
    .footer-item {
	font-size: 2rem;
    }
    .footer-item-link {
	font-size: 2rem;
    }
}

/* Small screen */
@media screen and (max-width: 549px) {
    .footer-item {
	font-size: 1.3rem;
    }
    .footer-item-link {
	font-size: 1.3rem;
    }
}

@media print {
    .footer {
	display: none;
    }
    .footer-item {
	font-size: 9pt;
    }
    .footer-item-link {
	color: black;
	font-size: 9pt;
    }
}
