/* Regular screen */
@media screen and (min-width: 1260px) {
    .grid-interests-achievements {
	/* vertical alignment */
	align-items: center;
	column-gap: 4rem;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-items: center;
	row-gap: 3.5rem
    }
}

/* Medium screen */
@media screen and (min-width: 870px) and (max-width: 1259px) {
    .grid-interests-achievements {
	/* vertical alignment */
	align-items: center;
	column-gap: 4rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-items: center;
	row-gap: 3.5rem;
    }
}

/* Small screen */
@media screen and (max-width: 869px) {
    .grid-interests-achievements {
	display: grid;
	grid-template-columns: 1fr;
	row-gap: 2rem;
    }
}

@media print {
    .grid-interests-achievements {
	/* vertical alignment */
	align-items: center;
	column-gap: 20pt;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-items: center;
	row-gap: 10pt;
    }
}
