/* Regular screen and print */
@media screen and (min-width: 550px), print {
    .footer-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
    }
}

/* Small screens */
@media screen and (max-width: 549px) {
    .footer-grid {
	display: grid;
	grid-template-columns: 1fr;
    }
}
