@media screen and (min-width: 1315px) {
    .grid-badges {
	align-items: center;
	column-gap: 4rem;
	display: grid;
	grid-template-areas:
	    "dev-sec-ops blockchain back-end"
	    "databases linux docs";
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	justify-items: center;
	row-gap: 1rem;
    }
    .blockchain {
	grid-area: blockchain;
    }
    .dev-sec-ops {
	grid-area: dev-sec-ops;
    }
    .back-end {
	grid-area: back-end;
    }
    .databases {
	grid-area: databases;
    }
    .linux {
	grid-area: linux;
    }
    .docs {
	grid-area: docs;
    }
}
