/* Regular screen and print */
@media screen and (min-width: 942px), print {
    .header-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
    }
}

/* Small screens */
@media screen and (max-width: 941px) {
    .header-grid {
	display: grid;
	grid-template-columns: 1fr;
    }
}

@media print {
    .header-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
    }
}
