@media all {
    h1, h2, h3 {
	font-family: orbitron, sans-serif;
    }
    h4 {
	font-family: go, sans-serif;
	font-weight: bold;
    }
}

@media screen {
    h1, h2, h3, h4 {
	color: #F8F893;
    }
}

/* Regular screen */
@media screen and (min-width: 550px) {
    h1 {
	font-size: 8rem;
	margin-bottom: 3.5rem;
	margin-top: 0;
    }
    h2 {
	font-size: 6rem;
	margin-bottom: 3.5rem;
	margin-top: 3.5rem;
    }
    h3 {
	font-size: 4rem;
	margin-bottom: 3.5rem;
	margin-top: 3.5rem;
    }
    h4 {
	font-size: 3.5rem;
	margin-bottom: 1.5rem;
	margin-top: 0;
    }
}

/* Small screen */
@media screen and (max-width: 549px) {
    h1 {
	font-size: 6rem;
	margin-bottom: 2rem;
	margin-top: 0;
    }
    h2 {
	font-size: 4rem;
	margin-bottom: 2rem;
	margin-top: 2rem;
    }
    h3 {
	font-size: 2rem;
	margin-bottom: 2rem;
	margin-top: 2rem;
    }
    h4 {
	font-size: 2rem;
	margin-bottom: 2rem;
	margin-top: 0;
    }
}

@media print {
    h1 {
	color: black;
	font-size: 20pt;
	margin-bottom: 0;
	margin-top: 12pt;
	padding: 0
    }
    h2 {
	color: black;
	font-size: 15pt;
	margin-bottom: 12pt;
	margin-top: 12pt;
	padding: 0
    }
    h3 {
	color: black;
	font-size: 12pt;
	margin-bottom: 12pt;
	margin-top: 12pt;
	padding: 0
    }
    h4 {
	color: black;
	font-size: 12pt;
	margin-top: 0;
	margin-bottom: 6pt;
    }
}
