@media all {
    .header-link {
	font-family: oxygen-mono, monospace;
	text-align: center;
    }
}

@media screen {
    .header-link {
	color: #8CD0D3;
    }
    #print-email {
	display: none;
    }
    #print-website-div {
	display: none;
    }
    #print-github {
	display: none;
    }
    #print-linked-in {
	display: none;
    }
}

/* Regular screen */
@media screen and (min-width: 550px) {
    .header-link {
	font-size: 2rem;
	margin-bottom: 1rem;
	margin-top: 1rem;
    }
}

/* Small screen */
@media screen and (max-width: 549px) {
    .header-link {
	font-size: 1.3rem;
	margin-bottom: 1rem;
	margin-top: 1rem;
    }
}

@media print {
    .header-link {
	color: black;
	font-size: 9pt;
	margin-bottom: 12pt;
	margin-top: 12pt;
    }
    #screen-email {
	display: none;
    }
    #screen-github {
	display: none;
    }
    #screen-linked-in {
	display: none;
    }
    #linked-in-div {
	display: none;
    }
}
