@media all {
    hr {
	border-radius: 30px;
	border-style: solid;
    }
}

@media screen {
    hr {
	background: #333333;
	color: #333333;
	border-color: #333333;
	border-width: 0.5rem;
    }
}

/* Regular screen */
@media screen and (min-width: 550px) {
    hr {
	margin-bottom: 3.5rem;
	margin-top: 3.5rem;
    }
}

/* Small screen */
@media screen and (max-width: 549px) {
    hr {
	margin-bottom: 2rem;
	margin-top: 2rem;
    }
}

@media print {
    hr {
	background: white;
	color: black;
	border-color: black;
	border-width: 1.5pt;
	margin-bottom: 12pt;
	margin-top: 12pt;
    }
}
