@media all {
    .icon {
	border-radius: 30px;
	border-style: solid;
    }
}

@media screen {
    .icon {
	background: #8FAF9F;
	border-color: #8FAF9F;
    }
}

/* Regular screen */
@media screen and (min-width: 550px) {
    .icon {
	margin: 1rem;
	padding: 1.5rem;
    }
}

/* Small screen */
@media screen and (max-width: 549px) {
    .icon {
	margin: 0.5rem;
	padding: 1.5rem;
    }
}

@media print {
    .icon {
	/* background: #8FAF9F; */
	border-color: black;
	border-width: 1pt;
	margin: 4pt;
	padding: 15pt;
    }
}
