/* Regular screen */
@media screen and (min-width: 550px) {
    .interests-achievements-list {
	font-size: 3.5rem;
	margin-bottom: 0;
	margin-top: 0;
    }
}

/* Small screen */
@media screen and (max-width: 549px) {
    .interests-achievements-list {
	font-size: 2rem;
	margin-bottom: 0;
	margin-top: 0;
    }
}

@media print {
    .interests-achievements-list {
	font-size: 12pt;
	margin-bottom: 0;
	margin-top: 0;
    }
}
