/* Regular screen */
@media screen and (min-width: 550px) {
    .job-heading {
	margin-top: 3.5rem;
    }
    .job-bullets {
	margin-bottom: 0;
	margin-top: 0;
    }
}

/* Small screen */
@media screen and (max-width: 549px) {
    .job-heading {
	margin-top: 2rem;
    }
    .job-bullets {
	margin-bottom: 0;
	margin-top: 0;
    }
}

@media print {
    .job-heading {
	margin-top: 12pt;
    }
    .job-bullets {
	margin-bottom: 0;
	margin-top: 0;
    }
}
