@media all {
    #name {
	font-family: akashi, sans-serif;
	text-align: center;
    }
}

@media screen {
    #name {
	color: #F8F893;
    }
}

/* Regular screen */
@media screen and (min-width: 550px) {
    #name {
	font-size: 8rem;
	margin-bottom: 3.5rem;
	margin-top: 0;
	padding-bottom: 1rem;
    }
}

/* Small screen */
@media screen and (max-width: 549px) {
    #name {
	font-size: 6rem;
	margin-bottom: 2rem;
	margin-top: 0;
	padding-bottom: 1rem;
    }
}

@media print {
    #name {
	color: black;
	font-size: 20pt;
	margin-bottom: 12pt;
	margin-top: 0;
    }
}
