@media screen {
    .print-portfolio {
	display: none;
    }
    .portfolio-link {
	color: #8CD0D3;
	text-decoration-line: none;
    }
}

@media print {
    .screen-portfolio {
	display: none;
    }
}
