@media all {
    .reference-image {
	border-radius: 30px;
	float: left;
	height: 95px;
	width: 95px;
    }
}

@media screen {
    .reference-div {
	background: #313C36;
	border-color: #313C36;
    }
}

/* Regular screen */
@media screen and (min-width: 550px) {
    .reference-div {
	margin-bottom: 3.5rem;
	margin-top: 3.5rem;
	padding-bottom: 0.1rem;
	padding-left: 3.5rem;
	padding-right: 3.5rem;
	padding-top: 0.1rem;
    }
    .reference-image {
	margin-right: 2rem;
	margin-top: 4rem;
    }
}

/* Small screen */
@media screen and (max-width: 549px) {
    .reference-div {
	margin-bottom: 2rem;
	margin-top: 2rem;
	padding-bottom: 0.1rem;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-top: 0.1rem;
    }
    .reference-image {
	margin-right: 2rem;
	margin-top: 4rem;
    }
}

@media print {
    .references {
	display: none;
    }
    .reference-div {
	border-color: black;
	border-style: solid;
	border-width: 1pt;
	margin-bottom: 12pt;
	margin-top: 12pt;
	padding: 12pt;
    }
    .reference-image {
	display: none;
    }
}
